.RegistrationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  font-family: Arial, sans-serif;
}

.RegistrationForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.RegistrationForm div {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1.5rem;
}

.RegistrationForm label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #555;
}

.RegistrationForm input[type="text"],
.RegistrationForm input[type="email"],
.RegistrationForm input[type="password"] {
  padding: 1rem;
  margin-bottom: 1.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  width: 100%;
  background-color: #f7f7f7;
  box-sizing: border-box;
  text-align: center;
}

.RegistrationForm input[type="password"] + .input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 1.5rem;
  flex: 1;
}

.RegistrationForm input[type="password"] + .input-container input[type="password"] {
  width: 100%;
}

.RegistrationForm button[type="submit"] {
  margin-top: 2rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: #003bb1;
  cursor: pointer;
  width: auto;
  transition: background-color 0.3s ease-in-out;
}

.RegistrationForm button[type="submit"]:hover {
  background-color: #001f6b;
}

.RegistrationForm .error {
  color: red;
}